[submodule "testrunner"]
	path = testrunner
	url = https://github.com/couchbase/testrunner
[submodule "perfrunner"]
	path = perfrunner
	url = https://github.com/couchbase/perfrunner
[submodule "mobile-testkit"]
	path = mobile-testkit
	url = https://github.com/couchbaselabs/mobile-testkit
